<!DOCTYPE html>
<html lang="en">

<head>
    <title> Partha Pixstone </title>
 {% load static %}

<link rel="stylesheet" media="all and (orientation:landscape)" href="landscape.css">
  <link rel="icon" type="image/x-icon" href="assets/image/jsi/logo-1.png">
  <link rel="icon" type="image/x-icon" href="assets/image/jsi/logo-1.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="node_modules/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />
<script src="node_modules/ng2-toastr/bundles/ng2-toastr.min.js"></script>
</head>


<body>
<nav class="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
               <img src="{% static 'Image/freshbooks-logo.svg'%}">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FEATURE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Accounting</a>
          <a class="dropdown-item" href="#">Clients</a>
          <a class="dropdown-item" href="#">Expenses</a>
          <a class="dropdown-item" href="#">Mileage Tracking</a>
          <a class="dropdown-item" href="#">Payments</a>
          <a class="dropdown-item" href="#">Proposals</a>
          <a class="dropdown-item" href="#">Time Tracking</a>
          <a class="dropdown-item" href="#">Apps</a>
          <a class="dropdown-item" href="#">Estimate</a>
          <a class="dropdown-item" href="#">Invoicing</a>
          <a class="dropdown-item" href="#">Mobile</a>
          <a class="dropdown-item" href="#">Projects</a>
          <a class="dropdown-item" href="#">Reports</a>
       </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WHO IT'S FOR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Freelancers</a>
          <a class="dropdown-item" href="#">Self-Employed Professionals</a>
          <a class="dropdown-item" href="#">Businesses With Contractors</a>
          <a class="dropdown-item" href="#">Businesses With Employees</a>
       </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="#">Partners</a>
          <a class="dropdown-item" href="#">Webinars</a>
          <a class="dropdown-item" href="#">Reports Library</a>
           <a class="dropdown-item" href="#">COVID-19</a>
           <a class="dropdown-item" href="#">Support</a>
          <a class="dropdown-item" href="#">Accountants</a>
       </div>
      </li>
    </ul>

    <link href="#">Pricing

<div class="Try">-->
<link rel="stylesheet" href="{% static 'CSS/partha.css'%}">
  <a class="try it free" href="#">TRY IT FREE</a>

</div>

  </div>
</nav>
 <div class ="tax">
   <img src="{% static,'Image/tax-time-sale-tag.svg'%}">
   <h2 class="Get">Get 60% Off for 6 Months</h2>
   <button type="button">Buy Now & Save</button>
   <a class="see" href="#">See Offer Details</a>
   <img src="{%static,'Image/images.jpg'%}">

 </div>

</body>
</html>

