a.try.it.free {
    margin: 24px;
    padding: -20px;
    margin-left: 458px;
}

a.try.it.free{
    background-color: #36a900;
    border-color: #36a900;
    color: #fff;
    }

a.see {
    margin: -2px;
    padding: 11px;
    margin-left: -13px;
}

button.see {
    padding: -1px;
    margin-block: 8px;
    FONT-WEIGHT: 200;
    FONT-WEIGHT: 200;
    margin-left: 83px;
    }