.header_log {
    vertical-align: middle;
    border-style: none;
    width: auto;
    height: 40px;
  }


  /* card body */
  .card-body {
    height: 446px;
}

/* image */
img#gfh {
    transform: translate(762px, -130px);
    position: absolute;
    width: 701px;
    height: 449px;
}


/* btn btn-success */
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    transform: translate(160px, 180px);
}

/* span */

span {
    transform: translate(164px, 181px);
}

/* span.navbar-toggler-icon */

span.navbar-toggler-icon {
    transform: translate(2px, 0px);
}

/* get 60% */

h2 {
    transform: translate(89px, 161px);
}

/* img#ghd */

img#ghd {
    transform: translate(140px, 129px);
}

/* button.btn1.btn-success */

button.btn1.btn-success {
    transform: translate(59rem, 0rem);
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    height: 43px;
    width: 150px;
}

/* bold */
li#bold {
    font-weight: 700;
}

p#or {
    transform: translate(78px, 25px);
}

.second2 {
    position: absolute;
    left: 34%;
    top: 57%;
}

.Third3 {
    position: absolute;
    left: 56.6%;
}

.Third4 {
    position: absolute;
    left: 79.1%;
}


element.style {
    position: absolute;
    top: 76%;
    left: 40%;
}

h1#df {
    left: 26%;
}

h1#qwe {
    left: 25%;
}

button#btnn4 {
    position: absolute;
    left: 9%;
    color: #0075dd;
    top: -50%;
    height: 87px;
    border: dotted 2px #0075dd;
    font-size: 1.5rem;
    font-weight: 700;
}

h5.h5 {
    position: absolute;
    top: 41%;
    padding: 1rem;
    left: 11%;
}

span.slider.round {
    position: absolute;
    transform: translate(32rem, 8rem);
}

p {
    color: #3a5598;
}

h2 {
    color: #3a5598;
}

h5#position {
    color: #3a5598;
}

h5#kl {
    color: #3a5598;
}

li {
    color: #3a5598;
}

.bg {
    background: #f56006;
}

.bg-light {
    background-color: #f56006!important;
}